<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
    </head>

    <body>
        <Header>
            <%- include Partials/header.ejs %>
        </Header>
        <main>
            <%- include about.ejs %>
            <%- include projects.ejs %>
            <%- include contact.ejs %>
        </main>
        <footer>
            <%- include Partials/footer.ejs %>
        </footer>
    </body>

</html>
